/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.relative {
    position:relative;
}
.fixBotLeft {
    position:absolute;
    bottom: -6px;
}
.margin-30 {
    margin:30px;
}